<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       			    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://code.alibabatech.com/schema/dubbo
	                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="${local.name}" />
	<dubbo:registry id="baseRegistry" address="${regist.base.address}" file="${catalina.home}/${regist.base.file}" />


	<!-- base-data-service dubbo reference -->
    <dubbo:reference id="baseSectionNumberService"
        interface="cn.emay.eucp.data.service.system.BaseSectionNumberService" registry="baseRegistry"/>
    <dubbo:reference id="portableNumberService"
        interface="cn.emay.eucp.data.service.system.PortableNumberService" registry="baseRegistry"/>
    <dubbo:reference id="departmentService"
        interface="cn.emay.eucp.data.service.system.DepartmentService" registry="baseRegistry"/>
    <dubbo:reference id="enterpriseService"
        interface="cn.emay.eucp.data.service.system.EnterpriseService" registry="baseRegistry"/>
    <dubbo:reference id="manageUserOperLogService"
        interface="cn.emay.eucp.data.service.system.ManageUserOperLogService" timeout="60000" registry="baseRegistry"/>
    <dubbo:reference id="resourceService"
        interface="cn.emay.eucp.data.service.system.ResourceService" registry="baseRegistry"/>
    <dubbo:reference id="roleResourceAssignService"
        interface="cn.emay.eucp.data.service.system.RoleResourceAssignService" registry="baseRegistry"/>
    <dubbo:reference id="roleService"
        interface="cn.emay.eucp.data.service.system.RoleService" registry="baseRegistry"/>
    <dubbo:reference id="sectionNumberService"
        interface="cn.emay.eucp.data.service.system.SectionNumberService" registry="baseRegistry"/>
    <dubbo:reference id="userDepartmentAssignService"
        interface="cn.emay.eucp.data.service.system.UserDepartmentAssignService" registry="baseRegistry"/>
    <dubbo:reference id="userRoleAssignService"
        interface="cn.emay.eucp.data.service.system.UserRoleAssignService" registry="baseRegistry"/>
    <dubbo:reference id="userService"
        interface="cn.emay.eucp.data.service.system.UserService" timeout="60000" registry="baseRegistry"/>
    <dubbo:reference id="exportService"
        interface="cn.emay.eucp.data.service.system.ExportService" registry="baseRegistry"/>
    <dubbo:reference id="baseExcelReaderService"
        interface="cn.emay.eucp.data.service.system.ExcelReaderService" registry="baseRegistry"/> 
    <dubbo:reference id="enterpriseBindingSaleService"
        interface="cn.emay.eucp.data.service.system.EnterpriseBindingSaleService" registry="baseRegistry"/>
    <dubbo:reference id="licenseService"
        interface="cn.emay.eucp.data.service.system.LicenseService" registry="baseRegistry"/>
     <dubbo:reference id="passportService"
        interface="cn.emay.eucp.data.service.system.PassportService" registry="baseRegistry"/>
     <dubbo:reference id="enterpriseAuthService"
		interface="cn.emay.eucp.data.service.system.EnterpriseAuthService" timeout="60000" registry="baseRegistry"/>
        <dubbo:reference id="updateInfoService" 
        interface="cn.emay.eucp.data.service.system.UpdateInfoService" registry="baseRegistry"/>
    <dubbo:reference id="foaService" 
        interface="cn.emay.eucp.data.service.system.FoaService" registry="baseRegistry"/>
    <dubbo:reference id="authLevelBindNameService" 
        interface="cn.emay.eucp.data.service.system.AuthLevelBindNameService" registry="baseRegistry"/>
    <dubbo:reference id="systemSettingService"
        interface="cn.emay.eucp.data.service.system.SystemSettingService" registry="baseRegistry"/>
    <dubbo:reference id="businessService"
        interface="cn.emay.eucp.data.service.system.BusinessService" registry="baseRegistry"/>
    <dubbo:reference id="authInterceptorService"
        interface="cn.emay.eucp.data.service.system.AuthInterceptorService" timeout="60000" registry="baseRegistry"/>
    <dubbo:reference id="industryService"
        interface="cn.emay.eucp.data.service.system.IndustryService" timeout="60000" registry="baseRegistry"/>
		
	
</beans>
