/* .main_right {
	height:735px;
}
 */
.sms-wrap {
	border: 1px solid #def0fb;
	border-radius: 5px;
	margin: 10px auto 0;
	width: 98%;
	min-height: 680px;
	position: relative;
}

.sms-left {
	position: absolute;
	left: 0;
	right: 280px;
	padding: 10px 0 10px 10px;
	overflow: hidden;
}

.sms-item {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.sms-item label.item-label {
	font-size: 14px;
	text-align: left;
	/* width: 120px; */
	float: left;
	line-height: 32px;
	width: 15%;
}

.sms-item textarea {
	/* width: 694px; */
	width: 82%;
	height: 100px;
}

.sms-item #serviceCode, .sms-item #personal-serviceCode, .sms-item #batch-serviceCode
	{
	width: 190px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline;
	margin: 0 5px;
	height: 30px;
	padding-left: 3px;
	padding-right: 0;
}

.prelative-mobile {
	position: relative;
	height: 174px;
}

.prelative {
	position: relative;
	height: 200px;
}

.smsTemplate {
	margin-bottom: 20px;
	margin-right: 30px;
}

.smsgxTemplate {
	margin-right: 15px;
}

.sms-item .fielsBtn {
	position: absolute;
	right: 10px;
	cursor: pointer;
	display: block;
}

.sms-item .fielsBtn a {
	background: #03a9f3 none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin: 0 10px;
	padding: 4px 8px;
}

.sms-item label.lh100 {
	line-height: 100px;
}

.textarea-box {
	margin-top: 33px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.empty_box {
	position: absolute;
	display: inline-block;
	height: 20px;
	margin: 0 auto;
	vertical-align: middle;
	width: 20px;
	right: 30px;
	bottom: 2px;
}

.tips {
	margin: 5px 0 0px 15%;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
}

.bttomColor {
	border-bottom: 1px dashed #d0d0d0;
	margin-bottom: 10px;
	width: 100%;
}

.tempatedown {
	background: #FEA720 none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin: 0 10px 0 5px;
	padding: 4px 6px;
	border: none;
}

.mp0 {
	margin-top: 0;
}

.send-method {
	height: 33px;
	line-height: 33px;
	display: inline-block;
}

.send-method input {
	box-shadow: none;
	font-size: 14px;
}

.send-method input[type='radio'] {
	border: none;
}

.pr20 {
	padding-right: 4px;
}

.bottom-btn {
	margin: 13px auto 10px;
	text-align: center;
}

.btn-blue {
	background-color: #03a9f3;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 6px 24px;
	text-align: center;
	vertical-align: middle;
}

.mb0 {
	margin-bottom: 0px;
}

.red {
	color: #ff0000;
	padding: 0 3px;
}

.tipBox {
	width: 100%;
}

.tipBox .tipImg {
	background: rgba(0, 0, 0, 0) url("../../../img/client/greenhook.png")
		no-repeat scroll 0 0;
	width: 59px;
	height: 40px;
	float: left;
	background-size: 59px 40px;
}

.tipText {
	float: left;
	margin-left: 10px;
}

.tipText dl {
	
}

.tipText dt {
	font-size: 16px;
	font-weight: bold;
	display: block;
}

.tipText dd {
	height: 30px;
	line-height: 30px;
}

.tipText a {
	text-decoration: underline;
	padding-left: 4px;
	color: blue;
}

.tipText a:hover {
	cursor: pointer;
}
/*右侧--手机*/
.sms-right {
	background: rgba(0, 0, 0, 0) url("../../../img/client/phone.png")
		no-repeat scroll 0 0;
	position: absolute;
	top: 50px;
	right: 10px;
	padding: 0px 0px 10px 0;
	width: 260px;
	height: 470px;
	background-size: 260px 470px
}

.phone {
	height: 290px;
	margin: 90px auto auto;
	width: 210px;
}

.phone-top {
	height: 270px;
	line-height: 170%;
	overflow-y: auto;
	word-break: break-all;
	word-wrap: break-word;
}

.phone-bottom {
	height: 50px;
	line-height: 25px;
	text-align: center;
}

#delayedTime, #personal-delayedTime, #batch-delayedTime {
	display: inline-block;
}

.mb20 {
	margin-bottom: 20px;
}

.file {
	position: relative;
	display: inline;
	background: #03a9f3;
	border: 1px solid #03a9f3;
	border-radius: 5px;
	padding: 4px 6px;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
	text-indent: 0;
	margin: 0 5px 0 10px;
}

.file input {
	overflow: hidden;
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	height: 16px;
	width: 35px;
	display: inline;
	padding: 4px 6px;
}

a.file:link, a.file:visited {
	color: #fff;
	text-decoration: none;
}
/* .file input:hover{
	cursor:pointer;
} */
.file:hover {
	text-decoration: none;
}

.uPload-text {
	width: 260px;
}

textarea {
	outline: none;
	resize: none;
}

#deleInp-pt {
	display: inline-block;
}

.sms-item textarea#bath-sendContent {
	width: 98%;
}

.batchVariateBox {
	width: 100%;
	margin-bottom:12px;
}

.variateBoxfl {
	width: 15%;
}

.variateBoxfr {
	width: 70%;
}

.sms-item .variateBoxfl label.item-label {
	width: 100%;
}

.perNav span {
	background-color: #03a9f3 ;
	border: 1px solid #03a9f3;
	border-radius: 20px;
	color: #fff;
	cursor: pointer;
	display: inline;
	float: left;
	height: 25px;
	line-height: 25px;
	margin: 5px 5px 0 0;
	padding: 0 22px;
}
/***************************************************************��ϵ��ģ��*************************************************************************/
.contactsLik{
	color:blue;
	text-decoration:underline;
}
.contactsLik:hover{
	color:#03a9f3;
	cursor:pointer;
}
#addContacts{
	margin-right:10px;
}
#mobileSearch {
    width: 160px;
    position: absolute;
    left: 51px;
    top: 22px;
    border: none;
}
.smsContact{
	font-size:14px;
}

.lxrCard {
    border-bottom: 1px solid #e6e6e6;
    margin: 20px 10px 10px;
    overflow: hidden;
}
#outerId_search_form,#outerIdShare_search_form {
	display: none;
}
.departBox {
	display: none;
}
.conStrip-box,.conStrip-box-share {
	padding: 0px 10px 0px 10px;
}

.conStrip-title {
	border-bottom: #e6e6e6 1px solid;
	overflow: hidden;
	margin-bottom: 10px;
}

.lgtBlue-folder {
	background-position: -98px -128px;
	width: 16px;
}

.conStrip-title input {
	font-size: 16px;
	margin-left: 5px;
	width:328px;
	box-shadow:none;
}

.conStrip-title-right {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left:216px;
}

.default {
	color: #666;
	display: inline-block;
	cursor: pointer;
}

.default i {
	margin: 0 3px;
}
.disabledInput {
    border: none !important;
}
.conStrip-title-right div{
	margin-right:2px;
}
.simSelect-text dl {
	line-height:22px;
	cursor:pointer;
}
.ztree {
	color: #333;
	margin: 0;
	padding: 5px;
	border: 1px solid #e6e6e6;
	overflow-x: hidden;
	overflow-y: scroll;
	width:272px;
}

.ztree ul li.treeli {
	height: 22px;
	width: 274px;
	float: left;
	margin: 1px 0;
}

.ztree ul li.conStrip-title-right {
	height: 22px;
	line-height: 22px;
	width: 17%;
	float: right;
}

.ztree ul li div.editdiv {
	border: none;
	height: 22px;
	line-height: 22px;
	margin-left:3px;
	padding-right: 0px;
	resize: none;
	font-size:12px;
	display:inline-block;
}

.ztree ul li .editdiv:hover {
	cursor: pointer;
}
#groupTypeInput{
	border:none;
}
.alert-cen dt input{
	box-shadow:none;
}
.contactsLeft {
    height: auto;
    overflow: hidden;
    padding: 10px 0 0;
    float:left;
}
.contactsMiddle{
	float:left;
	width:400px;
}
#card{
	margin:20px 0 0 0;
	width:270px;
}
.departBox_R {
	width:415px;
}
.addMoreBtn{
	margin:13px 76px;
}
.addMorelxr{
	margin:13px 126px;
}
.lxrzleft{
	width:700px;
	float:left;
}
.choice-right {
	width: 290px;
	float: left;
}
.choiceRightTop {
	height: 440px;
	width: 290px;
	float: left;
	border:1px solid #e6e6e6;
	overflow-y:scroll;
}
.choiceRightBottom{
	float:left;
	margin-left:24px;
}
#page_bar{
	padding:10px 0 10px 24px;
}

#sumTotal{
	display:inline-block;
}
#page_table{
	width:100%;
	text-align:center;
}
.conStrip-title{
	margin-bottom:4px;
}
.conStrip-nav{
	height:30px;
	line-height:30px;
	padding-bottom:0;
}
.conStrip-nav .emay-search{
	margin-top:0;
}
#outerId_div,#outerIdShare_div{
	padding:0px 10px;
}
.ztree{
	height:420px;
}

.departBox_R {
	margin-top:-29px;
}
#outerId_jumpnum,#outerIdShare_jumpnum{
	border-right:1px solid #ddd;
}
.templatetabel{margin-left:15%;}
.serviceCodeabox{height:35px;margin-top:15px;}
/* .emtable_table_parent{
	height:336px;
	overflow-y:scroll;
} */






.shangchuan {
	width: 100%;
	margin-bottom: 40px;
	*margin-bottom: 0px;
	margin-left: 6px;
	position: relative;
}

.shangchuan .uPloadBtn_box {
	height: auto;
	background: none;
	float: left;
	display: inline;
	width: 100%;
}
.uPload-text-xin {
	position: absolute;
	top: 180px;
}

.uPloadBtn .input-file, .input-file {
	cursor: pointer;
	position: absolute;
	z-index: 5;
	/* left:-214px; */
	left: 1px;
	right: 0;
	top: 0;
	bottom: 0;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	width: 260px;
}
.uPloadBtn_title {
	position: relative;
}
.shangchuan .uPloadBtn_box .uPloadBtn_title {
	width: 85%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #d0d0d0;
	margin-left:14%;
}
.uPloadBtn_title_bg {
	background: url(../img/icon_sxll.png) no-repeat 60px -48px;
}

.uPloadBtn_title_bg:hover {
	background-position: 60px -165px;
}

.uPloadBtn_title_bg1 {
	background: url(../img/icon_sxll.png) no-repeat 50px -78px;
}

.uPloadBtn_title_bg1:hover {
	background-position: 50px -190px;
}
.uPloadBtnxin {
	position: absolute;
	top: -1px;
	left: 75px;
	width: 120px;
	height: 26px;
}
.uPloadBtnxin:hover {
	background-position: 0px 1px;
}
.uPloadBtn_content {
	width: 214px;
	max-height: 100px;
	overflow-y: auto;
	*position: relative;
	*left: 0;
	*top: 0;
}

.uPloadBtn_content li {
	width: 194px;
	height: 30px;
	line-height: 30px;
	position: relative;
}

.uPloadBtn_content li p {
	width: 160px;
	height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.uPloadBtn_content li:nth-child(even) {
	background: #efefef;
}

.uPloadBtn_content  li:hover {
	width: 194px;
	background: #efefef;
}
label.tempatedown {
	height: 17px;
	background: #03a9f3;
	cursor: pointer;
	line-height: 17px;
}
.inputspan {
	display: inline-block;
	position: absolute;
	left: 200px;
	width: 120px;
	border: none;
}
.spantext {
	display: inline-block;
	margin-left: 300px;
	color: red;
}
.phone-topBtn{
	width: 100%;
    height: 30px;
    }
.phone-topBtn a{
	width: 48%;
    height: 30px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: #03a9f3;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    margin-left:1%;
}