*{
	margin:0;
	padding:0;
}
.login_header {
	background: #03a9f3   none repeat scroll 0 0;
	height: 60px;
	width: 100%;
	position:relative;
}

.login_main {
	background: rgba(0, 0, 0, 0) url("../../../img/logo.png") no-repeat scroll 20px 5px;
    color: #ffffff;
    display: block;
    font-size: 22px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 2px;
    line-height: 57px;
    overflow: hidden;
    text-indent: 3.5em;
    width: 320px;
}

.container_foo {
    height: 60px;
    text-align: center;
    width: 100%;
    color:#5F5E5E;
    line-height:60px;
}
.container_foo::before, .container_foo::after {
    content: "";
    display: table;
}
.container_foo::after {
    clear: both;
}
.footer_line {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd #fff #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    height: 0;
    margin-bottom: 18px;
}
.container_foo p {
    font-family: "Microsoft yahei";
    font-size: 14px;
    line-height: 1.3em;
}
.sysbox{
	width:80%; 
	padding-top:60px;
	margin-left:16%;
}
.docbox{
	width:50%;
	float:left;	
	margin-bottom:40px;
}
.fl{
	float:left;
}
.doctop{
	height:32px;
	color:#459DF5;
	font-size:16px;
	line-height:32px;
}
.circle{
	width:10px;
	height:10px;
	border-radius:100%;
	background:#459DF5;
	margin:11px 4px 0 0;
	
}
.doctext{
	float:left;
	margin-right:4px;
}
.doctop img{
	vertical-align:middle;
	width:32px;
	height:32px;
	cursor:pointer;
	border:none;
}
.docbottom{
	margin-top:2px;
	color:#666;
}
.docbottom p{
	font-size:13px;
}
.prevpage {
    height: 40px;
    position: absolute;
    right: 20px;
    top: 19px;
}
#prevPage{
    background: rgba(0, 0, 0, 0) url("../../../img/client/prevpage.png") no-repeat scroll 6px 0;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 30px;
}
.prevpage a:hover{
	cursor:pointer;
}