 @charset "utf-8";
/* CSS Document */
.center_box{background:#fff; }
.changepw{ width:1190px; margin:0 auto;}
.changepw_box {padding:20px; } 
.changepw_box .item label:first-child{ width:120px;} 
.changepw_box .item input{margin-right:4px;} 
.changepw_box .tipFoot{text-align:center;}
.changepw_box .tipFoot input{}
.changepw_box{width:700px;}
.item{margin-left:100px;}
.fontColor{padding-left:10px;color:#AEAEAE}
 .tipword{width:300px; background:#f2f9fd;height:30px; line-height:30px; text-indent:5em; border-radius:5px; 
position:absolute; top:82px; left:40%;color:#666666;
} 
.tipword span{color:red;font-weight:bold;}
.pwtitle{margin-left:300px;}